<div class="container" style="margin-top :10px;">
    <div class="row">
    <div class="col-md-11" style="border:.1px solid black; border-radius: 4px;
    top: 10px;">
    <h3 style="text-align: center; margin-top: 4%;margin-bottom: 4%;"><b>CARD TYPE REGISTERATION</b> </h3>
     <form>
    <div class="form-horizontal">
    <div class="row">
    <label class="control-label col-12" for="society">Name</label>
    <div class="col-12">
    <input type="text" class="formcontrol" placeholder="Enter the cardtype name" />
    </div>
    </div>
    <br>
    <div class="row">
    <label class="control-label col-12" for="society">Short Name</label>
    <div class="col-12">
    <input type="text" class="form-control" placeholder="Enter
    the short NAme" />
    </div>
    </div>
    <br>
    <div class="row">
    <label class="control-label col-sm-2"
    for="society">Color</label>
    <div class="col-12">
    <input type="text" class="form-control" placeholder="Enter
    the card color" />
    </div>
    </div>
    <br>
    <div class="row">
    <label class="control-label col-12"
    for="society">Description</label>
    <div class="col-12">
    <input type="text" class="form-control" Placeholder="Enter
    the description" />
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col-sm-6">
    <button type="submit" class="btn btnprimary">Submit</button>
    </div>
    </div>
    <br>
    </div>
    </form>
    </div>
    </div>
    </div>