<html>

<body aligin="center">
    <form>
        <div class="container" style="width:100%;margin-left:5%;margin-bottom: 5%;">
            <div class="row">
                <div class="col-md-9" style="box-shadow: 2px 2px 10px #4d4e4e; border-radius:0px; top: 100px;">
                    <div class="row" style="margin-left: -173%;margin-top: 2%;margin-bottom: -5%;">
                        <input type="submit" [routerLink]="['/mhome/customer-registration']" name="addnew" value="Add New" class="btn btn-primary" style="margin-left:63%">
                    </div>
                    <h2 style="text-align: center;margin-top: 6%;font-family: fantasy;">CUSTOMER DETAILS</h2>
                    <div class="form-horizontal" style="margin-left:0px;">
                        <table class="table table-hover" style="border: 2px solid #adaaaa; box-shadow: 3px 3px 11px #777777; margin-bottom:7%">
                            <tr>
                                <th>Customer Name</th>
                                <th>Organization Name</th>
                                <th>Wallet Amount</th>
                                <th>Contact Number</th>
                                <th>Email</th>
                                <th>User Name</th>
                                <th style="color:#F00">Edit</th>
                                <th style="color:#F00">Delete</th>
                            </tr>
                            <tr *ngFor="let row of dataarray">
                                <td>{{row.Coustomer_Name}}</td>
                                <td>{{row.Organization_Name}}</td>
                                <td>{{row.Wallet_Amount}}</td>
                                <td>{{row.Contact_Number}}</td>
                                <td>{{row.Coustomer_Email}}</td>
                                <td>{{row.User_name}}</td>
                                <td [routerLink]="['/edit']">Edit</td>
                                <td [routerLink]="['/delete']">Delete</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>
