<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="careerview.component.scss">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<hr>
<div class="card bg-light">
<div class="form-horizontal" style="margin-left:0px;">
                    <table class="table table-hover" style="border: 2px solid #adaaaa; box-shadow: 3px 3px 11px #777777; margin-bottom:7%">
                        <tr>
                            <th>Name</th>
                            <th>Qualification</th>
                            <th>Experience</th>
                            <th>Email</th>
                            <th style="color:#F00">View More</th>
                        </tr>
                       <tr *ngFor="let row of dataarray">
                            <td>{{row.Name}}</td>
                            <td>{{row.Email}}</td>
                            <td>{{row.Experience}}</td>
                            <td>{{row.Email}}</td>
                            <td>Click Me</td>
                        </tr> 
                    </table>
                </div>
        </div>
    </div>                                                                 


<!--container end.//-->
