<html>

<body>
    <form>
        <div class="container" style="width:100%;margin-left:5%;margin-bottom: 5%;">
            <div class="row">
                <div class="col-md-9" style="box-shadow: 2px 2px 10px #4d4e4e; border-radius:0px; top: 100px;">
                    <div class="row" style="margin-left: -173%;margin-top: 2%;margin-bottom: -5%;">
                        <input type="submit" name="addnew" value="Add New" class="btn btn-primary" [routerLink]="['/home/pumpregistration']"style="margin-left:63%">
                    </div>
                    <h2 style="text-align: center;margin-top: 6%;font-family: fantasy;">Pump Details</h2>
                    <div class="form-horizontal" style="margin-left:0px;">
                        <table class="table table-hover" style="border: 2px solid #adaaaa; box-shadow: 3px 3px 11px #777777; margin-bottom:7%">
                            <tr>
                                <th>Pump Name</th>
                                <th>License Number</th>
                                <!-- <th>Place</th> -->
                                <th>Owner Name</th>
                                <!-- <th>Company</th> -->
                                <th>Contact Number</th>
                                <th>Email</th>
                                <th style="color:#F00">Edit</th>
                                <th style="color:#F00">Delete</th>
                            </tr>
                            <tr *ngFor="let row of dataarray">
                                <td>{{row.Pump_name	}}</td>
                                <td>{{row.License_number}}</td>
                                <!-- <td>{{row.Place	}}</td> -->
                                <td>{{row.Owner_name}}</td>
                                <!-- <td>{{row.Company}}</td> -->
                                <td>{{row.Phone_number}}</td>
                                <td>{{row.Email_address}}</td>
                                <td [routerLink]="['/home/editpump',row.Pump_id]">Edit</td>
                                <td [routerLink]="['/delete']">Delete</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>